
body {
  font-family: 'Montez', cursive;
  background-image: url(warriors2.png);
  background-size:cover;
}

.clock {
  width: 500px;
  height: 200px;
  background-color: #0109FE;
  margin: 0px auto;
  border: 7px groove #FEE501;
  border-radius: 5px;
  color: #FEFE01;
}

.clock h1 {
  justify-content: space-between;
  padding: 0px 20px;
}

.clock div {
    display: flex;
    justify-content: space-between;
}

.clockTitle {
  margin: 0px auto;
  width: 500px;
  text-align: center;
  font-size: 50px;
}

.tab {
  margin: 0px 7px;
  list-style: none;
}

.tab h1 {
  margin: 0px;
}

.tabList {
  display: flex;
  padding: 0px;
  margin: 0px auto;
  justify-content: space-between;
  border-bottom: 5px groove #FEE501;
}

.tabList li:first-child{
  border-right: 5px groove #FEE501;
  padding-right: 13px;
}

.tabList li:last-child{
  border-left: 5px groove #FEE501;
    padding-left: 13px;
}

.tabsContainer {
  justify-content: space-between;
  height: 300px;
  width: 250px;
  border: 7px groove #FEE501;
    background-color: #0109FE;
  }

  .tabsContainer article {
    font-size: 30px;
  }
